/* *, *::before, *::after  
created pseudo-element that is first child of of selected element
used to apply css properties JUST before/after the content WITHIN the matching element.*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    margin: 100px;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightsteelblue;
}
/* #modal {
    display: none;
} */
#container {
    display: none;
    border: 2px solid black;
    background-color: lightblue;
    width: 80%;
    padding: 20px;
    align-items: center;
    line-height: 1.5;
    font-size: large;
}
/* #satchel-div {

} */
#button-container {
    display: none;
    align-items: center;
    width: fit-content;
    border: 2px solid pink;
}
.btn-grid {
    display: grid flex;
    align-items: center;
    grid-template-columns:max-content;
    gap: 15px;
    margin-top: 20px;
}
.btn {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.btn:hover {
    border-color: red;
}